@use '../../index.scss' as m;

body {
    box-sizing: border-box;
    font-family: m.$main-font;
    font-size: 40px;
    color: black;
}

#card-button {
    margin: auto;
    color: rgba(255, 255, 255, 1);
    font-size: m.$font-size-card-button;
    font-weight: m.$font-weight-card-button;
}

#movie-card {
    text-align: center;
    min-height: 500px;
    margin-bottom: 50px;
    border-color: tomato;
    border-width: 10px;
}

#card-title {
    font-size: m.$font-size-card-title;
    font-weight: m.$font-weight-card-title;
    font-size: 25px;
    border-bottom: 3px solid tomato;
}

p.card-text {
    color: black;
}
