@use '../../index.scss' as m;


body {
    box-sizing: border-box;
    font-family: m.$main-font;
    font-size: 50px;
}

#registration-form {
    max-width: 500px;
    font-weight: bold;
    border-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background-color: #393A43;
    border-width: 10px;
    padding: 15px;
    border-width: 10px;
    border-style: solid;
    border-radius: 2.25rem;
}

#registration-form-label {
    font-size: m.$font-size-form-description;
    font-weight: m.$font-weight-form-description;
    margin-top: 15px;
    margin-bottom: auto;
}

@media only screen and (min-width: 740px) {
    #registration-card-title {
        font-size: m.$font-size-login-card-title;
        font-weight: m.$font-weight-login-card-title;
        text-align: center;
        color: m.$color;
    }
}

#registration-card {
    border-color: m.$color;
    border-width: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, .75);
}

h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fill-available;
}

.register-form-text {
    color: rgba(255, 255, 255, 1);
}
