@use '../../index.scss' as m;

body {
    box-sizing: border-box;
    font-family: m.$main-font;
}

#movie-view {
    border-color: m.$navbar-color;
    border-width: 10px;
    min-height: 500px;
}

#movie-view-image {
    margin-bottom: 20px;
}

#movie-title {
    text-align: center;
    font-size: m.$font-size-movie-title;
    font-weight: m.$font-weight-movie-title;
}

#movie-description {
    font-size: m.$font-size-movie-description;
    font-weight: m.$font-weight-movie-description;
}

#movie-director {
    font-size: m.$font-size-movie-description;
    font-weight: m.$font-weight-movie-description;
    background-color: tomato;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
}

#movie-genre {
    font-size: m.$font-size-movie-description;
    font-weight: m.$font-weight-movie-description;
    background-color: tomato;
    color: rgba(255, 255, 255, 1);
}

#movie-view-button {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 20px;
    border: none;
    text-align: center;
}

#movie-view-button {
    background-color: blue;
    margin-bottom: inherit;
    margin-left: auto;
    margin-right: auto;
}

